{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

<h2>Import Students (CSV)</h2>

<form method="POST" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label">Upload CSV File</label>
        <input type="file" name="file" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Upload</button>

    <a href="{{ url_for('routes.dashboard') }}" class="btn btn-secondary">Back</a>

</form>

</div>

{% endblock %}